* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font: 12px 'Open Sans', sans-serif;
  color: #212121;
  background: #eeeeee;
  overflow-x: hidden;
}
.sideNavContainer {
  display: flex;
  min-height: 100%;
}
input[data-function*='swipe'] {
  position: absolute;
  opacity: 0;
}
label[data-function*='swipe'] {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 70px fontawesome;
  text-align: center;
  color: #333;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}
label[data-function*='swipe']:hover {
  color: #263249;
}
input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
  transform: translate3d(280px, 0, 0);
}
label[data-function*='swipe']:checked {
  display: block;
}
label:nth-child(2){
  display: none;
}
input[data-function*='swipe']:checked ~ label:nth-child(2){
  display: block;
  transform: translate3d(280px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ label:nth-child(3){
  display: none;
}
input[data-function*='swipe']:checked ~ .headings {
  transform: translate3d(280px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ .sidebar {
  transform: translate3d(0px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ .sidebar .menu li {
  width: 100%;
}
.sidebar {
  transform: translate3d(-280px, 0px, 0px);
  position: absolute;
  width: 280px;
  background: #263249;
  color: #eee;
  left: 0;
  height: 100%;
  transition: all .3s;
}
.menu li {
  padding: 10px;
  list-style: none;
  width: 0;
}
.menu li a {
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  display: block;
  text-decoration: none;
  padding: 5px 0 5px 0;
  margin: 0 20px;
}

h1, p {
  margin: 30px 0;
  font-size: 45px;
  font-weight: bold;
}
p {
  font-size: 30px;
}

.headings {
  flex: 1;
  padding: 80px 30px;
  background: #eee;
  box-shadow: 0 0 5px black;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
  color: #263249;

}



.fixedContent {
font-family: 'Lora', serif;
font-size: 15px;
list-style-type: none;
 background: #eee;
margin-left:50%;
margin-top: 10%
}

.button {
display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #263249;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-top: 10pt;
  margin-bottom: 4em;
}

.button:hover {background-color: #eee}
.button:hover {color: black}

.button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.fixedContent li {
  font-size: 30px;
}

#balmerChart {
height: 500px;
width: 90%;
margin-left: 60pt;

}

label {
  display: inline-block;
  width: 250px;
}

.select {
  color: gray;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  width: 150px;
  height: 40px;
  font-size: 18px;

}

#button {
display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #263249;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-top: 10pt;
  margin-bottom: 4em;
}

#button:hover {background-color: #eee}
.button:hover {color: black}

#button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
