
/* aboutus cards css */
@media screen and (min-width: 960px) {
    html {
        zoom: 70%;
    }
}

#aboutUsCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
#aboutUsCard li{
    margin: 1%;
    width: 250px;
    height: 350px;
    background-color: #009797;
    text-align: center;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#aboutUsCard li:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.03);
}

#aboutUsCard li h3 {
    font-size: 1.5em;
    margin: 10%;
}

#aboutUsCard li img {
    width: 200px;
    height: 230px;
}

.formDiv {
    text-align: center;
    width: 35%;
    height: 30%;
    font-size: 30pt;
}

.formElement{
    display: block;
    padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #263249;
      border: none;
      border-radius: 15px;
      box-shadow: 0 5px #999;
      margin-top: 10pt;
      margin-bottom: 8pt;

}

/*.formElement input {
height: 30px;
}*/

.formDiv form div label {
    text-align: left;
}


footer nav ul {
    list-style: none;
}

footer nav ul li {
    color: dodgerblue;
    display: inline-block;
    padding: 2%;
    font-size: 1.5em;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

