
footer {
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    color: white;
    text-align: right;
}
footer nav ul {
    list-style: none;
}
footer nav  ul li {
    color: dodgerblue;
    display: inline-block;
    padding: 2%;
    font-size: 1.5em;
}

#aboutUsCard li img {
    width: 200px;
    height: 200px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}
footer nav ul {
    list-style: none;
}

footer nav  ul li {
    color: dodgerblue;
    display: inline-block;
    padding: 2%;
    font-size: 1.5em;
}

