
footer {
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    color: white;
    text-align: right;
}
footer nav ul {
    list-style: none;
}
footer nav  ul li {
    color: dodgerblue;
    display: inline-block;
    padding: 2%;
    font-size: 1.5em;
}

#aboutUsCard li img {
    width: 200px;
    height: 200px;
}

.formDiv {
    text-align: center;
    width: 35%;
    height: 30%;
    font-size: 30pt;
}

form {
    text-align: center;
}

.formElement{
    display: block;
    padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #263249;
      border: none;
      border-radius: 15px;
      box-shadow: 0 5px #999;
      margin-top: 10pt;
      margin-bottom: 8pt;

}

.formElement input {
height: 30px;
}

label {
    width: 200px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    color: white;
    text-align: right;
}
footer nav ul {
    list-style: none;
}

footer nav  ul li {
    color: dodgerblue;
    display: inline-block;
    padding: 2%;
    font-size: 1.5em;
}
