<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info on Balmer Peak</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
    <main>
        <div class="container">
            <input data-function="swipe" id="swipe" type="checkbox">
            <label data-function="swipe" for="swipe">&#xf057;</label>
            <label data-function="swipe" for="swipe">&#xf0c9;</label>

            <div class="headings">
                <h1>Got your BAC</h1>
                <h2>A tool for estimating your Blood Alcohol Content (BAC)</h2>
            </div>

            <div class="sidebar">
                <nav class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/registration">Registration</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/drinks">Calculate</a></li>
                    <li><a href="/balmer">BallmerPeak</a></li>
                    <li><a href="/logout">Log out</a></li>
                </nav>
            </div>

        </div>
            <div class="fixedContent">
                <h2>Science or Fiction?</h2>

                <img src="images/balmerpeak.png">

                <p>Automatically, all of these beautiful, beautiful things will happen. You can do anything your heart can imagine. You can't have light without dark.
                    You can't know happiness unless you've known sorrow.</p>
                <p>But we're not there yet, so we don't need to worry about it. Very easy to work these to death. You have to make almighty decisions when you're the creator.
                    We'll put some happy little leaves here and there.</p>
                <div class="container">
            </div>
        </div>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>