<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info on Balmer Peak</title>
</head>
<body>
<h1>Science or Fiction?</h1>

<img src="images/balmerpeak.png">

<p>Automatically, all of these beautiful, beautiful things will happen. You can do anything your heart can imagine. You can't have light without dark.
    You can't know happiness unless you've known sorrow.</p>
<p>But we're not there yet, so we don't need to worry about it. Very easy to work these to death. You have to make almighty decisions when you're the creator.
    We'll put some happy little leaves here and there.</p>
<div class="container">
    <input data-function="swipe" id="swipe" type="checkbox">
    <label data-function="swipe" for="swipe">&#xf057;</label>
    <label data-function="swipe" for="swipe">&#xf0c9;</label>

    <div class="headings">
        <form class="login" action="">
            Username: <input type="text" name="username">
            Password: <input type="password" name="password">
        </form>

    </div>


    <div class="sidebar">
        <nav class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Calculate</a></li>
            <li><a href="#">BallmerPeak</a></li>



        </nav>
    </div>

</div>
</body>
</html>