<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Add Drinks</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:700i&display=swap" rel="stylesheet">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>

    <body>
    <main>
    <div class="container">
        <input data-function="swipe" id="swipe" type="checkbox">
        <label data-function="swipe" for="swipe">&#xf057;</label>
        <label data-function="swipe" for="swipe">&#xf0c9;</label>

        <div class="headings">
            <h1>Got your BAC</h1>
            <h2>A tool for estimating your Blood Alcohol Content (BAC)</h2>
          <h2>Hello, [[${principal}]]. Welcome to the BAC calculator.</h2>
        </div>

        <div class="sidebar">
            <nav class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/drinks">Calculate</a></li>
                <li><a href="/forScience">For Science</a></li>
                <li><a href="/logout">Log out</a></li>
            </nav>
        </div>

    </div>

    <div>

        <div class="fixedContent">
            <h2>How this works</h2>
            <h3>We are using an equation called the Widmark Method for calculating BAC</h3>
            <h3>BAC = [Alcohol consumed in grams / (Body weight in grams x R)]</h3>
            <h4>BAC Level</h4>
            <h5 th:text="${BAC == 0.0} ? 'Add a drink to calculate BAC.' : ${BAC}"></h5>
            <p th:text="${BAC == 0.0 } ? '' : ${chartBAC}"></p>

            <form class="formElement"  action="/addDrinks" method="POST">
                <label>Please select a drink: </label>
                <select class="select" name="drinkName" required>
                    <option value="vodka">Vodka</option>
                    <option value="beer">Beer</option>
                    <option value="gin">Gin</option>
                    <option value="rum">Rum</option>
                    <option value="whiskey">Whiskey</option>
                    <option value="wine">Wine</option>
                </select>

                <br>
                <br>

                <label>Select the size of drink:</label>
                <select class="select" name="drinkSize">
                    <option value="1.5">1.5 oz</option>
                    <option value="5">5 oz</option>
                    <option value="12">12 oz</option>
                </select>
                <br>
                <br>
                <input id="button" type="submit" value="Add Drink">
            </form>

            <table>

                <th:block th:each="drink : ${listOfDrinks}">
                    <form class="formElement" th:action="@{'/drinks/update'}" th:method="put">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="id" th:value="${drink.id}">
                        <td class="select" th:text="${drink?.strIngredient}"></td>
                        <td class="select" th:text="${drink?.strABV}"></td>
                        <td><input class="select" type="number" name="strABV" th:value="${drink?.strABV}" required></td>
                        <td class="select" th:text="${drink?.drinkSize}"></td>
                        <td><select class="select" name="drinkSize" th:value="${drink?.drinkSize}" required>
                            <option value="1.5">1.5 oz</option>
                            <option value="5">5 oz</option>
                            <option value="12">12 oz</option>
                        </select></td>

                        <td><input type="submit" value="Update" class="button"></td>
                    </form>
                          <td>
                              <form th:action="@{'/drinks/delete'}" th:method="delete">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="id" th:value="${drink.id}">
                                  <input type="submit" value="Delete" class="button">
                            </form>
                          </td>
                        </tr>
                </th:block>
            </table>

        </div>
    </div>
        </main>
        <footer th:insert="fragments/footer.html :: footer"></footer>
    </body>

</html>