<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Science Stuff</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
<main>
<div class="container">
    <input data-function="swipe" id="swipe" type="checkbox">
    <label data-function="swipe" for="swipe">&#xf057;</label>
    <label data-function="swipe" for="swipe">&#xf0c9;</label>

    <div class="headings">
        <img id="balmerChart" src="images/balmerpeak.png">
    </div>

    <div class="sidebar">
        <nav class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/drinks">Calculate</a></li>
            <li><a href="/forScience">For Science</a></li>
            <li><a href="/logout">Log out</a></li>
        </nav>
    </div>

</div>

<div>

    <div class="fixedContent">
        <h1>Science or Fiction?</h1>
        <h2>[[${username}]]</h2>
        <p>
            Is alcohol use a help or a hindrance for creativity? And, conversely, what effect does creative activity have on alcohol use? In order to answer these questions, relevant information was obtained from the biographies of 34 well known, heavy drinking, 20th century writers, artists or composers/performers. Analysis of this information yielded a number of interesting findings. Alcohol use proved detrimental to productivity in over 75% of the sample, especially in the latter phases of their drinking careers. However, it appeared to provide direct benefit for about 9% of the sample, indirect benefit for 50% and no appreciable effect for 40% at different times in their lives. Creative activity, conversely, can also affect drinking behavior, leading, for instance, to increased alcohol consumption in over 30% of the sample. Because of the complexities of this relationship, no simplistic conclusions are possible.
        </p>
        <p>
            LUDWIG, A.M. (1990), Alcohol input and creative output*. British Journal of Addiction, 85: 953-963. doi:10.1111/j.1360-0443.1990.tb03726.x
        </p>
    </div>




</div>
</main>

<footer th:insert="fragments/footer.html :: footer"></footer>
</body>

</html>