<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/base.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

    <form action="/login" method="post">
        Username: <input type="text" name="username">
        Password: <input type="password" name="password">
        <button type="submit">Log on</button>
    </form>
    </main>



    <div class="sideNavContainer">
        <input data-function="swipe" id="swipe" type="checkbox">
        <label data-function="swipe" for="swipe">&#xf057;</label>
        <label data-function="swipe" for="swipe">&#xf0c9;</label>

        <div class="sidebar">
            <nav class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Calculate</a></li>
                <li><a href="#">BallmerPeak</a></li>
            </nav>
        </div>
    </div>

    <footer>
        &copy gotYourBAC
    </footer>
</body>

</html>

</html>