<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>GotYourBAC</h1>
        <nav>
            <ul>
                <li>Sign up</li>
                <li>Log in</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>Home</li>
                <li>Profile</li>
                <li>Calculate BAC</li>
                <li>Log out</li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome to GotYourBAC</h2>

        <form action="/login" method="post">
            Username: <input type="text" name="username">
            Password: <input type="password" name="password">
            <button type="submit">Log on</button>
        </form>
    </main>

    <footer>
        &copy gotYourBAC
    </footer>

</body>
</html>