<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header"></header>
    <main>
        <nav th:insert="fragments/navigation.html :: navigation"></nav>
        <div th:if="${param.error}">
            <p>Username and/or password was incorrect. Please try again.</p>
        </div>
        <h2>Login here:</h2>
        <form action="/login" method="post">
            Username: <input type="text" name="username">
            Password: <input type="password" name="password">
            <button type="submit">Login</button>
        </form>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>