<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <header th:insert="fragments/header.html :: header"></header>
    </header>
    <main>
        <nav th:insert="fragments/navigation.html :: navigation"></nav>
        <h2>Users Profile</h2>
        <div>
            <ul>
                <li><img src="${loggedInUser.profilepic}" alt=""></li>
                <li>First Name: [[${loggedInUser.firstName}]]</li>
                <li>Last Name:  [[${loggedInUser.lastName}]]</li>
                <li>Gender:     [[${loggedInUser.gender}]]</li>
                <li>Height:     [[${loggedInUser.height}]]</li>
                <li>Weight:     [[${loggedInUser.weight}]]</li>
                <li><a href="/profile/update"><Button>Update Profile</Button></a></li>
            </ul>
        </div>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>