<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700i&display=swap" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
<main></main>
<div class="container">
    <input data-function="swipe" id="swipe" type="checkbox">
    <label data-function="swipe" for="swipe">&#xf057;</label>
    <label data-function="swipe" for="swipe">&#xf0c9;</label>
    <div class="headings">
        <h1>Got your BAC</h1>
        <h2>A tool for estimating your Blood Alcohol Content (BAC)</h2>
        <h2>[[${loggedInUser.username}]]'s profile</h2>
    </div>
    <div class="sidebar">
        <nav class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/drinks">Calculate</a></li>
            <li><a href="/forScience">BallmerPeak</a></li>
            <li><a href="/logout">Log out</a></li>
        </nav>
    </div>
</div>
<div>
    <ul class="fixedContent">
        <li><img src="${loggedInUser.profilepic}" alt=""></li>
        <li>First Name: [[${loggedInUser.firstName}]]</li>
        <li>Last Name:  [[${loggedInUser.lastName}]]</li>
        <li>Gender:     [[${loggedInUser.gender}]]</li>
        <li>Height:     [[${loggedInUser.height}]]</li>
        <li>Weight:     [[${loggedInUser.weight}]]</li>
        <li><a href="/profile/update"> <input type="submit" value="Update Profile" class="button"></a></li>
        <li>
            <form th:action="@{'/profile/delete'}" th:method="delete">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" class="button">
            </form>
        </li>
    </ul>
</div>
</main>
<footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>