<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Your Profile, [[${loggedInUser.getUsername()}]]</title>
</head>
<body>
    <main>
        <form th:action="@{'/profile/update'}" th:method="put">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="username" th:value="${loggedInUser.getUsername()}">
            First Name: <input type="text" name="firstName" th:value="${loggedInUser.firstName}">
            Last Name: <input type="text" name="lastName" th:value="${loggedInUser.lastName}">
            Gender: <input type="text" name="gender" th:value="${loggedInUser.gender}">
            Height: <input type="text" name="height" th:value="${loggedInUser.height}">
            Weight: <input type="text" name="weight" th:value="${loggedInUser.weight}">
            <input type="submit" value="Update">
        </form>
    </main>
</body>
</html>