<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<body>
    <header th:insert="fragments/header.html :: header"></header>
    <main>
        <nav th:insert="fragments/navigation.html :: navigation"></nav>
        <h2>Register new user</h2>
        <h3> placeholder text</h3>
        <form action="/registration" method="POST">
            Username: <input type="text" name="username" required>
            Password: <input type="password" name="password" required>
            First Name: <input type="text" name="firstName" required>
            Last Name: <input type="text" name="lastName" required>
            Gender:  <select name="gender" required>
            <option value="non-binary">Non-Binary</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
             </select>
            Height (inches): <input type="number" name="height" required>
            Weight (pounds): <input type="number" name="weight" required>
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>