<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
    <main>
        <div class="container">
            <input data-function="swipe" id="swipe" type="checkbox">
            <label data-function="swipe" for="swipe">&#xf057;</label>
            <label data-function="swipe" for="swipe">&#xf0c9;</label>

            <div class="headings">
                <h1>Got your BAC</h1>
                <h2>A tool for estimating your Blood Alcohol Content (BAC)</h2>
            </div>

            <div class="sidebar">
                <nav class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/registration">Registration</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/drinks">Calculate</a></li>
                    <li><a href="/balmer">BallmerPeak</a></li>
                    <li><a href="/logout">Log out</a></li>
                </nav>
            </div>

        </div>

        <div class="fixedContent formDiv">
            <h2>Register</h2>
            <form action="/registration" method="POST">
                <div class="formElement">
                    <label class="zone1">UserName:</label>
                    <input type="text" name="username" required>
                </div>
                <div class="formElement">
                    <label>Password:</label>
                    <input type="password" name="password" required>
                </div>
                <div class="formElement">
                    <label>First Name:</label>
                    <input type="text" name="firstName" required> 
                </div>
                <div class="formElement">
                    <label>Last Name:</label>
                    <input type="text" name="lastName" required>
                </div>
                <div class="formElement">
                    <label>Height:</label>
                    <input type="number" name="height" required>
                </div>
                <div class="formElement">
                    <label>Weight:</label>
                    <input type="number" name="weight" required>
                </div>
                <div class="formElement">
                    <label>Gender</label>
                    <select name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="non-binary">Non-Binary</option>
                    </select>
                </div>
                <button class="button" type="submit">Submit</button>
            </form>
        </div>
    </main>
        <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>